
body {
  background-color: rgb(89,126,157);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.text1{
  color: #f0f8ff;
  text-align: center;
}
.wrapper {
  max-width: 1120px;
  display: flex;
  gap: 100px;
  margin: auto;
  justify-content: center;
  
}
.table1{
  padding: 50px;
  width: 300px;
  border-radius: 5%;
  background-color: #ffffff;
}
.table2{
  
  padding: 50px;

  width: 300px;
  border-radius: 5%;
  background-color: #ffffff;
}
.table3{
  padding: 50px;
  width: 300px;
  border-radius: 5%;
  background-color: #ffffff;
}
.table4{
  padding: 50px;
  width: 300px;
  border-radius: 5%;
  background-color: #ffffff;
}
.table5{
  padding: 50px;
  width: 300px;
  border-radius: 5%;
  background-color: #ffffff;
}
.table6{
  padding: 50px;
  width: 300px;
  border-radius: 5%;
  background-color: #ffffff;
}